<!-- login.component.html -->
<div class="login-container">
    <!-- Section Héro -->
    <div class="hero-section">
      <div class="hero-carousel">
        <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === currentImageIndex">
          <img [src]="image" alt="Medical illustration" class="carousel-image">
          <div class="carousel-overlay">
            <h2 class="carousel-text">{{getCarouselText(i)}}</h2>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Section Authentification -->
    <div class="auth-section">
      <div class="auth-card">
  
        <h1 class="auth-title">
          <img src="assets/Logo.png" alt="Logo" class="logo">
          <span>{{isLoginMode ? 'Vous avez déjà utilisé TabibNet ?' : 'Nouveau sur TabibNet ?'}}</span>
        </h1>
  
        <!-- Formulaire de Connexion -->
        <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Adresse Email</label>
            <input type="email" formControlName="email" placeholder="exemple@patient.com">
            <i class="icon-user"></i>
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
              Veuillez entrer une adresse email valide
            </div>
          </div>
  
          <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" formControlName="password" placeholder="••••••••">
            <i class="icon-lock"></i>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
              Le mot de passe doit contenir au moins 8 caractères
            </div>
          </div>
  
          <div class="security-alert" *ngIf="loginAttempts > 2">
            <i class="icon-shield"></i>
            <span>Tentatives de connexion excessives - Veuillez patienter</span>
          </div>

          <div *ngIf="errorMessage" class="error-message mb-3">
            ⚠️ {{ errorMessage }}
          </div>
  
          <button type="submit" class="auth-button" [disabled]="loginForm.invalid || loading">
            <span *ngIf="!loading">Connexion Sécurisée</span>
            <span *ngIf="loading">Connexion en cours...</span>
            <i class="icon-arrow"></i>
          </button>
  
          <div class="auth-link">
            <span>Nouveau Medécin ? </span>
            <a routerLink="/register">Créer un compte</a>
          </div>
        </form>
  
        
        
      </div>
    </div>
  </div>